
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
   <link rel="stylesheet" href="../css/animate.css">
   <link rel="stylesheet" href="../css/footer.css">
   <link rel="stylesheet" href="../css/header.css">
   <link rel="stylesheet" href="../css/hodimlar.css">

  <link rel="stylesheet" href="../css/scss/kurslar.css">
   <link rel="stylesheet" href="../css/news.css">
       <link rel="stylesheet" href="../css/startup.css">
         <link rel="stylesheet" href="../fonts/font-awesome.min.css">
 <link rel="stylesheet" href="../css/aos.css">
    <title>Boyovut_IT-Center</title>
    <link rel="shortcut icon" href="https://it-park.uz/../favicons/favicon.ico">
</head>
<body>
    <!-- Header -->
    <header>
        <div id="header" class="header">
            <div class="header container">
                <div class="nav-bar">
                    <div class="brand">
                        <img style="width: 100px; height: 80px;" src="https://logobank.uz:8005/media/logos_preview/IT_park-01.png" alt="">
                    </div>
                    <div class="nav-list">
                        <div class="navs">
                            <div class="bar"></div>
                        </div>
                        <ul>
                            <li id="home"><a href="#hero" data-after="Uyga">Uyga</a></li>
                            <li id="yangiliklar"><a href="#news" data-after="Yangiliklar">Yangilikar</a></li>
                            <li id="startups"><a href="#startup" data-after="Startup">Startup</a></li>
                            <li id="hodimlar"><a href="#Hodimlar" data-after="Hodimlar">Jamoa</a></li>
                            <li id="Kurslar"><a href="#kurslar" data-after="Kurslar">Kurslar</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header -->
        <div id="hero">
            <!-- Hero Section  -->

            <div class="hero container">
                <div class="object">
                    <h1>BOYOVUT_IT-CENTER<span></span></h1>
                    <h1>Kelajaging o'z<span></span></h1>
                    <h1>Qo'lingda<span></span></h1>
                    <a href="#registration" type="button" class="cta">Bizga Qo'shil</a><br>
                    <div class="launguares">
        <ul>

            <li><a  style="	 color: rgb(30, 240, 11);"href="#">UZB</a></li>

            <li><a href="rus">RUS</a></li>

            <li><a href="eng">ENG</a></li>

        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="news">
        <h6 class="wow bounceInDown" data-wow-duration="3s">Yangiliklar</h6>
    
        <div class="news-wrap">
            <div class="container">
                <div class="row m-5">
                    <% data.uzb.forEach((item) => { %> 
                    <div class="col-lg-4 col-md-6 col-sm-12 wow bounceInUp news-card " data-item-id="<%= item.id %>" data-wow-duration="2s">
                        <div class="news-grid">
                            <div class="news-grid-image">
                                <img width="300px" height="300px"
                                    src="<%= item.imgName %>"
                                    alt="error img">
                                <div class="news-grid-box">
                                    <h1>News</h1>
                                  
                                </div>
                            </div>
                            <div class="news-grid-txt">
                                <span>News</span>
                                <h2><%= item.name %></h2>
                                <ul>
                                    <li> <i class="fa fa-calendar" aria-hidden="true"></i><%= item.date %></li>
                                </ul>
                                <p><%= item.malumot %></p>
                                <a href="https://it-park.uz/ru/itpark/news">Batafsil</a>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
        </div>
    </div>
    </section>

    <section id="startup">
        <h1 class="wow heartBeat" data-wow-duration="6s">Start-Up</h1>
        <h2 class="wow rubberBand" data-wow-duration="4s">Yonalishlar</h1>
            <div class="container">


                <div class="row justify-content-center">
                    <div class="col-12 col-lg-7 text-center margin-100px-bottom sm-margin-40px-bottom">

                    </div>
                </div>
                <div class="row">

                    <div class="col-4 col-md-4 md-margin-40px-bottom text-center wow fadeInUp mb-5"
                        style="visibility: visible; animation-name: fadeInUp;">
                        <img src="https://avatars.mds.yandex.net/i?id=6f0487a96ea04eba7ac2d46007e85b2f-5286078-images-thumbs&n=13"
                            alt="error img">
                        <span class="span1">Fintech</span>

                        <div class="separator-line-horrizontal-medium-light3 bg-park-green width-50px m-auto"></div>
                    </div>

                    <div class="col-4 col-md-4 md-margin-40px-bottom text-center wow fadeInUp mb-5"
                        data-wow-delay="0.2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <img src="https://i.pinimg.com/originals/4d/70/26/4d70262db83b927e4f2c9301ac96a954.jpg"
                            alt="error img">
                        <span class="span2">Medtech</span>
                        <div class="separator-line-horrizontal-medium-light3 bg-park-green width-50px m-auto"></div>
                    </div>

                    <div class="col-4 col-md-4 md-margin-40px-bottom text-center wow fadeInUp mb-5"
                        data-wow-delay="0.4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <img src="https://yt3.ggpht.com/a/AATXAJw963ocN33gpE-leiOVjjeOQQCvltUjf23dBQ=s900-c-k-c0xffffffff-no-rj-mo"
                            alt="error img">
                        <span class="span3">Agrotech</span>
                        <div class="separator-line-horrizontal-medium-light3 bg-park-green width-50px m-auto"></div>
                    </div>

                    <div class="col-4 col-md-4 md-margin-40px-bottom text-center wow fadeInUp mb-5"
                        style="visibility: visible; animation-name: fadeInUp;">
                        <img src="https://e7.pngegg.com/pngimages/588/140/png-clipart-mobile-app-euclidean-icon-click-the-ppt-phone-material-blue-gadget.png"
                            alt="error img">
                        <span class="span4">Mobile Apps</span>
                        <div class="separator-line-horrizontal-medium-light3 bg-park-green width-50px m-auto"></div>
                    </div>

                    <div class="col-4 col-md-4 md-margin-40px-bottom text-center wow fadeInUp mb-5"
                        data-wow-delay="0.2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <img src="https://w7.pngwing.com/pngs/911/267/png-transparent-web-development-computer-icons-website-web-design-search-engine-optimization-text.png"
                            alt="error img">
                        <span class="span5">Web Sites</span>
                        <div class="separator-line-horrizontal-medium-light3 bg-park-green width-50px m-auto"></div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col-4 col-md-4 md-margin-40px-bottom text-center wow fadeInUp mb-5"
                        data-wow-delay="0.4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <img src="https://banner2.cleanpng.com/20190106/hof/kisspng-artificial-intelligence-system-humanoid-robot-web-fraud-detection-5c31ddd5d97985.3285739615467719258908.jpg"
                            alt="error img">
                        <span class="span6">Artificial Intellegence</span>
                        <div class="separator-line-horrizontal-medium-light3 bg-park-green width-50px m-auto"></div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col-4 col-md-4 text-center wow fadeInUp mb-5"
                        style="visibility: visible; animation-name: fadeInUp;">
                        <img src="https://cdn2.vectorstock.com/i/1000x1000/87/21/automotive-diagnostic-repair-icon-colorful-vector-21718721.jpg"
                            alt="error img">
                        <span class="span7">Autotech</span>
                        <div class="separator-line-horrizontal-medium-light3 bg-park-green width-50px m-auto"></div>
                    </div>

                    <div class="col-4 col-md-4 text-center wow fadeInUp mb-5" data-wow-delay="0.2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <img src="https://avatars.mds.yandex.net/i?id=86fb79209c6380008c8e61439dd9b039-5555892-images-thumbs&n=13"
                            alt="error img">
                        <span class="span8">Online Education</span>
                        <div class="separator-line-horrizontal-medium-light3 bg-park-green width-50px m-auto"></div>
                    </div>


                    <div class="col-4 col-md-4 text-center wow fadeInUp mb-5" data-wow-delay="0.4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <img src="https://yt3.ggpht.com/a/AATXAJwSTTUb_aHNC9NBM6OPOVopQjNhh2URp6EUWQ=s900-c-k-c0xffffffff-no-rj-mo"
                            alt="error img">
                        <span class="span9">GameDev</span>
                        <div class="separator-line-horrizontal-medium-light3 bg-park-green width-50px m-auto"></div>
                    </div>

                </div>
            </div>



    </section>

    <section id="nuber2">
        <div class="container">
            <div class="row ">
                <div class="col-sm-12 col-md-6 ">
                    <div class="box1">
                        <img src="https://1.bp.blogspot.com/_QmenDvyMjlk/TOjxQnhQQnI/AAAAAAAACKM/TgeI-VQ82-I/s1600/got-idea3.png"
                            alt="error img">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="box2">
                        <h1 style="color: white;" >Inkubatsiya Dasturi</h1>
                        <p>Har qanday startap loyihasining asosi -
                            tashabbuskorda paydo boʻlgan gʻoyadir. Inkubatsiya
                            dasturiga g’oya bilan kelishadi. Siz oʻzingizning ajoyib gʻoyangiz bilan kelasiz va
                            inkubatsiya dasturi uni "isteʻmol qilish" ga tayyor boʻlgan yakuniy mahsulotga oʻstiradi.
                        </p>
                        <p>Dastur 3 oyga moʻljallangan va sizning
                            startap loyihangizni Qo'limizdan kelgancha
                            taʻminlaymiz:</p>
                        <a href="https://it-park.uz/uz/itpark/startups/register">
                            <button class="custom-btn btn button2 "><span>Royhatdan
                                    O'tish</span></button>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </section><br><br>
    <section id="nuber2">
        <div class="container  ">
            <div class="row ">
                <div class="col-sm-12 col-md-6 ">

                    <div class="box1 ">
                        <img src="https://thumbs.dreamstime.com/z/handwriting-text-writing-hello-i-startup-concept-meaning-entrepreneur-starting-business-presenting-new-project-written-paper-121974194.jpg"
                            alt="error img">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="box3">
                        <h1>Akseleratsiya Dasturi</h1>
                        <p>Sizda gʻoyangizning prototipi bor,
                            mutaxassislar jamoasi yigʻilgan va sizning oldingizga
                            qoʻygan maqsadlaringizga yetish uchun mablagʻ olish va loyihani haqiqiy biznesga aylantirish
                            kerak. Agar shunday boʻlsa, unda sizga aniq akseleratsiya dasturi kerak boʻladi.
                        </p>
                        <p>Dastur sizning startap loyihangizni faol
                            rivojlanishiga noyob yo’nalishni taʻminlaydi, bu
                            nafaqat ajoyib mentorlar - mutaxassislardan biznes tajribasini olish, balki quyidagi
                            imkoniyatlarni ham beradi:</p>

                        <p>1) Mahsulotni intellektual mulk sifatida
                            rasmiylashtirish</p><br>
                        <p>2) Yuridik maslahat olish</p> <br>
                        <p>3) Investitsiya maydoniga kirish</p> <br>
                        <p>4) Marketing yordamini olish</p> <br>
                        <p>5) Keng hamkorlik tarmogʻini rivojlantirish
                        </p>


                        <a class="wow slideInDown" href="https://it-park.uz/ru/itpark/startups/register">
                            <button class="custom-btn btn  "><span>Royhatdan O'tish</span></button>
                        </a>
                    </div>

                </div>

            </div>
        </div>

    </section>
    <section id="video">
        <div class="container">
            <div class="row">
                <div class="col-12  col-sm-12 col-md-12 col-lg-12 ">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ZdyDRbv5aWE"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>


                </div>
            </div>
        </div>


    </section>
    <section id="Hodimlar">
   <h1  >Bizning Jamoa</h1>
   <div class="grid">   
   <div class="container">
            <div class="card" data-aos="flip-right" data-aos-duration="1500" data-aos-delay="100"    >
                <div class="content">
                    <div class="imgBx">
                        <img src="./images/photo1.jpg" alt="">
                    </div>
                    <div class="contentBx">
                        <h4>Sohib Raimov</h4>
                        <h5>Boyovut_it-center-menejeri</h5>
                    </div>
                    <div class="sci">
                        <a href="tel:+998998550275"><i class="fa fa-phone" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="card " data-aos="flip-right" data-aos-duration="1500" data-aos-delay="200"    >
                <div class="content">
                    <div class="imgBx">
                        <img src="./images/photo_2021-09-27_16-51-32.jpg" alt="">
                    </div>
                    <div class="contentBx">
                        <h4>Husan Musulmonqulov</h4>
                        <h5>Front-End Dasturchi</h5>
                    </div>
                    <div class="sci">
                        <a href="tel:+998994775541"><i class="fa fa-phone" aria-hidden="true"></i></a>
                     
                    </div>
                </div>
            </div>
            <div class="card " data-aos="flip-right" data-aos-duration="1500"  data-aos-delay="300"  >
                <div class="content">
                    <div class="imgBx">
                        <img src="./images/Снимок.PNG" alt="">
                    </div>
                    <div class="contentBx">
                        <h4>Rustam Rahimov</h4>
                        <h5>Back-End Dasturchi</h5>
                    </div>
                    <div class="sci">
                        <a href="tel:+99894775541"><i class="fa fa-phone" aria-hidden="true"></i></a>
                      
                    </div>
                </div>
            </div>
            <div class="card " data-aos="flip-left" data-aos-duration="1500"  data-aos-delay="400"  >
                <div class="content">
                    <div class="imgBx">
                        <img src="./images/photo4.jpg" alt="">
                    </div>
                    <div class="contentBx">
                        <h4>Xosiyat Meliboyeva</h4>
                        <h5>Komputer savodhonligi o'qituvchisi</h5>
                    </div>
                    <div class="sci">
                        <a href="tel:+998911048001"><i class="fa fa-phone" aria-hidden="true"></i></a>
                      
                    </div>
                </div>
            </div>
            <div class="card " data-aos="flip-left" data-aos-duration="1500"  data-aos-delay="500"  >
               <div class="content">
                    <div class="imgBx">
                        <img src="./images/photo5.jpg" alt="">
                    </div>
                    <div class="contentBx">
                        <h4>Shaxzod Boybo'tayev</h4>
                        <h5>IT-ENGLISH o'qituvchisi</h5>
                    </div>
                    <div class="sci">
                        <a href="tel:+998"><i class="fa fa-phone" aria-hidden="true"></i></a>
                      
                    </div>
                </div>
            </div>
            <!-- <div class="card " data-aos="flip-left" data-aos-duration="1500"  data-aos-delay="600"  >
                <div class="content">
                    <div class="imgBx">
                        <img src="./images/photo_2021-09-27_17-12-20.jpg" alt="">
                    </div>
                    <div class="contentBx">
                        <h4></h4>
                        <h5>IT-MATEMATIKA o'qituvchisi</h5>
                    </div>
                    <div class="sci">
                        <a href="tel:+998"><i class="fa fa-phone" aria-hidden="true"></i></a>
                      
                    </div>
                </div>
            </div> -->
    
        </div>
    </div>
    </section>
    
   
      
  
    
        <section id="kurslar" >
        <div class="col-lg-12 mt-5 mb-5 text-center">
            <h1>Bizning Kurslarimiz</h1>
        </div>  
        <ul class="nav justify-content-center">
            <li class="nav-item"> 
              <a class="nav-link"  data-filter="all" >Hammasi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-filter=".dasturlash" >Dasturlash</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  data-filter=".it" >Boshlang'ich IT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  data-filter=".english">IT-English</a>
            </li>
        
          </ul>
        <div class="container-fluid p-5">
        <div class="row m-5 ">
            <div class=" cards col-lg-4 col-md-6 mix dasturlash mt-5 mb-5 ">
                <div class="wrap">
                    <div class="imgBx">
                            <img width="100% " height="450px" src="https://th.bing.com/th/id/R.8b24142a431af6e3597631985ca24389?rik=qUYFM7518KU8LA&pid=ImgRaw&r=0" alt="">
                      <div class="box">
                          <h1>25 Kishi</h1>
                      </div>
                        </div>
                        <div class="content">
                            <h1>Front-End Dasturlash</h1><br>
                    <p>O'qituvchi - <span>Husan Musulmonqulov</span></p>
                        </div>
                        <div class="abaut">
<p>                       Html, Css, JavaScript texnologiyalarni va Bootstrap, JQuery kabi frameworklarni professional tarzda o'rganing va turli hil Web-saytlar, Internet-Do'konlar yasashni boshlang 
</p>                    
                      
                        </div>
                      
                        </div>
            </div>
            <div class=" cards col-lg-4 col-md-6 mix dasturlash mt-5 mb-5 ">
                <div class="wrap">
                    <div class="imgBx">
                            <img width="100% " height="450px" src="https://www.edu.itcenter.uz/img/courses/f-2.jpg" alt="">
                      <div class="box">
                          <h1>10 Kishi</h1>
                      </div>
                        </div>
                        <div class="content">
                            <h1>Back-End Dasturlash</h1><br>
                    <p>O'qituvchi - <span>Rustam Rahimov</span></p>
                        </div>
                        <div class="abaut">
<p>                       Node.js, Express.js, MangoDB kabi  texnologiyalarni va Malumotlar bazasida ishlash yoki Web Serverlar sozlash turli hil Web-saytlarni ichki bazasida ishlashni o'rganing
</p>                    
                      
                        </div>
                      
                        </div>
            </div>
            <div class=" cards col-lg-4 col-md-6 mix it  mt-5 mb-5 ">
                <div class="wrap">
                    <div class="imgBx">
                            <img width="100% " height="450px" src="./images/webd.jpg" alt="">
                      <div class="box">
                          <h1>Tez Kunda</h1>
                      </div>
                        </div>
                        <div class="content">
                            <h1>Web Dizayn</h1><br>
                    <!-- <p>O'qituvchi - <span></span></p> -->
                        </div>
                        <div class="abaut">
<p>                      Photoshop, Figma va boshqa  dasturiy taminotlar orqali Turli hil Web-saytlar Dizayneri bo'ling va Web-saytlarni chiroyli Dizaynni yasang va Professional Web-Dizayner bo'ling
</p>                    
                      
                        </div>
                      
                        </div>
            </div>
            <div class=" cards col-lg-4 col-md-6 mix it mt-5 mb-5 ">
                <div class="wrap">
                    <div class="imgBx">
                            <img width="100% " height="450px" src="https://www.edu.itcenter.uz/img/courses/7.jpg" alt="">
                      <div class="box">
                          <h1>36 Kishi</h1>
                      </div>
                        </div>
                        <div class="content">
                            <h1>Komputer Savodhonligi</h1><br>
                    <p>O'qituvchi - <span>Xosiyat Meliboyeva</span></p>
                        </div>
                        <div class="abaut">
<p>                       Komputerni noldan professionalgacha yuqori texnologialar bilan o'rganing 
</p>                    
                      
                        </div>
                      
                        </div>
            </div>
          
            <div class=" cards col-lg-4 col-md-6 mix dasturlash mt-5 mb-5 ">
                <div class="wrap">
                    <div class="imgBx">
                            <img width="100% " height="450px" src="https://th.bing.com/th/id/R.ea92141155e6f4780eb528ee631ab15f?rik=DiWyTKG3HMvpNg&pid=ImgRaw&r=0" alt="">
                      <div class="box">
                          <h1>Tez Kunda</h1>
                      </div>
                        </div>
                        <div class="content">
                            <h1>Android Dasturlash</h1><br>
                    <!-- <p>O'qituvchi - <span></span></p> -->
                        </div>
                        <div class="abaut">
<p>                       Java, Kotlin, Python texnologialar orqali  mukammal Mobile ilovalar yoki aqlli  o'yinlar dasturchisi bo'ling 
</p>                    
                      
                        </div>
                      
                        </div>
            </div>
            <div class=" cards col-lg-4 col-md-6 mix english it mt-5 mb-5 ">
                <div class="wrap">
                    <div class="imgBx">
                            <img width="100% " height="450px" src="https://www.edu.itcenter.uz/img/courses/8.jpg" alt="">
                      <div class="box">
                          <h1>25 Kishi</h1>
                      </div>
                        </div>
                        <div class="content">
                            <h1>IT-English</h1><br>
                    <p>O'qituvchi - <span>Shaxzod Boybo'tayev</span></p>
                        </div>
                        <div class="abaut">
<p>                       Ingliz-tilini noldan professional darajagacha  yuqori darajaga ega o'qituvchilar bilan o'rganing
</p>                    
                      
                        </div>
                      
                        </div>
            </div>

        </div>
        </div>
        
        
        
        </section>


    <section id="registration">
        <h6 style="text-align: center; font-size: 30px;margin-top: 100px;color: rgb(1, 255, 1);  " >Royhatdan O'tish</h6>
        <div class="box">
            <iframe class="wow fadeIn" data-wow-duration="3s" 
                src="https://script.google.com/macros/s/AKfycbyg4jEHH1eOVZxBrKKW_3oJM85XYiSpMVhlqbJe9AF59xaYwiYS_Cwj0_dQo0DGG5uHyQ/exec"
                width="100%" height="1000px" style=" margin-top: 200px; border: none;"></iframe>
        </div>
    </section>


    <footer id="footer" class="footer-distributed "  >

        <div class="footer-left">
            <h3>IT-<span>CENTER</span></h3>

            <p class="footer-links">
                <a href="#">Uyga</a>
                |
                <a href="#">Yangiliklar</a>
                |
                <a href="#">Start-up</a>
                |
                <a href="#">Hodimlar</a>
                |
                <a href="#">Kurslar</a>
            </p>


        </div>

        
        <div class="footer-center">
            <div class="backfooter">
                <div class="bar"></div>
            </div>
            <ul>
              <li class="location" >
                <a href="https://goo.gl/maps/4FDp5FkVmDyU5PDZ7"><i class="fa fa-map-marker"></i></a>
                <p>
                    Sirdaryo viloyati Boyovut tumani</p>
              </li>
              <li class="phone">
                <a href="tel:+998998550275"><i class="fa fa-phone"></i></a> 
                <p>+998 99 855 02 75</p>
              </li>
              <li class="email">
                <a href="mailto:sohibrayimov435@gmail.com"><i class="fa fa-envelope"></i></a> 
                <p>Boyovut_IT-CENTER</p>
              </li>
            </ul>
        </div>
    </div>
        <div class="footer-right">
            <p class="footer-company-about">
             
                <span>IT-CENTER haqida</span>
                <strong>IT-PARK </strong>tamonidan yaratilgan IT-CENTER axborot   tehnologiyalar o'quv markazi bo'lib
                tehnologiya bo'yicha o'qitiladi o'quv markazi ochilganiga bir-yil bo'ldi hozir 100ga yaqin o'quvchilar
      tasxil oladilar va kurslarni yakunlagach o'quvchilarni yaxshi ishga joylashtirish imkoniyati mavjud va o'quv kurslarini yuqori bilimga ega o'qituvchilar va zamoniy tehnologilar bilan taminlanadi.
 </p>

            <div class="footer-icons">
                <a href="https://www.facebook.com/profile.php?id=100077581602163"><i class="fa fa-facebook"></i></a>
                <a href="https://github.com/SardorDev1"><i class="fa fa-github"></i></a>
                <a href="https://www.instagram.com/itcenterboyovut"><i class="fa fa-instagram"></i></a>
                <a href="https://t.me/Boyovut_IT_Center"><i class="fa fa-telegram"></i></a>
                
            </div>
        </div>
    </footer>


    <div class="alan-btn"></div>




<a id="homenav" href="#"></a>
<a id="newsnav" href="#news"></a>
<a id="startupnav" href="#startup"></a>
<a id="teamsnav" href="#Hodimlar"></a>
<a id="coursenav" href="#kurslar"></a>
<a id="regisnav" href="#registration"></a>









</body>
<script src="../js/mixitup.min.js"></script>
<script src="../js/AI.js"></script>
<script src="../js/wow.min.js"></script>
<script src="../js/app.js"></script>


<script>
new WOW().init();
</script>
<script src="../js/aos.js" ></script>
<script>
AOS.init();
</script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
crossorigin="anonymous"></script>

</html>
<!-- programmed by Sardor_Dev1 -->
<!-- -Dizayn qismi--Sardor Shoakbarov
-Front-End qismi--Sardor Shoakbarov
--Back-End qismi--Sardor Shoakbarov -->